#MenuStyleUp {
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

.defaul_style_center {
    text-align: center;
}

.defaul_style_left {
    text-align: left;
}

.td1 {
    width: 800px;
}

.td_cart {
    text-align: center;
    width: 100px;
    font-size: 12px;
}
.td_cart_total {
    text-align: right;
    font-size: 12px;
}

.td_signup {
    font-size: 12px;
    text-align: center;
    width: 100px;
}

.td_signin {
    font-size: 12px;
    text-align: center;
    width: 100px;
}

#MenuStyleDown {
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
    float:inherit;
}

#topMenu {
        height: 35px; 
        width: 980px;
         margin-right: auto;
         margin-left: auto;
}
#topMenu ul li {
        list-style: none; 
        color: white; 
        background-color: #2d2d2d; 
        float: left;
        line-height: 35px; 
        vertical-align: middle;
        text-align: center; 
}
#topMenu span
 {
      border-right: #01a647 1px solid;
      border-top: #01a647 1px solid;
      border-left: #01a647 1px solid;
      border-bottom: #01a647 1px solid;
        list-style: none; 
        color: white; 
        background-color: #2d2d2d; 
        float: left;
        line-height: 32px; 
        vertical-align: middle;
        text-align: center; 
}

#topMenu .wishList { 
        text-decoration:none;
        background-color: #4aa06e;
        color: white;
        display: block;
        width: 188px;
        font-size: 12px;
        font-weight: bold;
        font-family: "Trebuchet MS", Dotum, Arial;
}

#topMenu .wishList:hover {
        color: red;
        background-color: ite;
   ;
}
        

#topMenu .menuLink { 
        text-decoration:none;
        color: white;
        display: block;
        width: 188px;
        font-size: 12px;
        font-weight: bold;
        font-family: "Trebuchet MS", Dotum, Arial;
}
#topMenu .menuLink:hover {
        color: red;
        background-color: #4d4d4d;
to
gin-right: auto;
    margin-left: auto;
}

.menu_down_text {
    text-align: center;
}

#FooterStyle {
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    text-align: left;
}
.footer_style {
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    color: #808080;
}

#MainContent {
    margin-right: auto;
    margin-left: auto;
    width: 940px;
}

#ProductContent {
    margin-right: auto;
    margin-left: auto;
    width: autaol;  margin-bottom : 10px;
}

td.align_center {
    text-_center {
    text-aligali
}

.copyright-3rd-party
.copyright {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
}

td.align_center {
    text-align: center;
}

#leftmenu {
	width: 200px;
	margin-top: 10px;
}
	
#leftmenu li a {
	text-decoration: none;
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
}
	
#leftmenu li a:link, #menu8 li a:visited {
	color: #777;
	display: block;
	background: url('../Images/menu8.gif') 0 -32px;
	padding: 8px 0 0 20px;
}

#leftmenu li a:hover {
    color: #257EB7;
    background: url('../Images/menu8.gif') 0 -32px;
    padding: 8px 0 0 25px;
}
	
#leftmenu li a:active {
	color: #fff;
	background: url('../Images/menu8.gif') 0 -32px;
	padding: 8px 0 0 25px;
}

#leftmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.standard_title {
    color: #333;
    font-size: 30px;
    font-weight: normal;
    font-family: "Gibson Light","Helvetica","Arial",sans-serif;
    line-height: 1.6;
    text-transform: none;
    float: left;
    letter-spacing: 1px;
}